---
title: Eric Grandt
page-id: home
layout: default
---
{% include header.html class="-absolute" %}

<div class="container">
	<div class="intro">
		<div class="callout">
			<h1>Hi, I'm <span class="text-yellow">Eric</span>.</h1>
			<h1>I'm a <span class="text-blue">full-stack developer</span>.</h1>
			<div class="btn btn-danger availability-button">
				I'M AVAILABLE FOR HIRE
			</div>
		</div>

		<div class="learn-more">
			<p>Learn More</p>
			<i class="fas fa-angle-down"></i>
		</div>
	</div>

	<section id="about">
		<h3 class="title">About Me</h3>
		<div class="row">
			<div class="col-12 col-md-6 mb-3 mb-md-0 text-center text-md-left">
				<p>I'm a full-stack developer at heart. I love the challenge it involves and the outcome of all the projects I've worked on. I've had the pleasure of working on projects for universities, non-profits, local businesses and local governments. I've been programming for a majority of my life and am constantly learning more.</p>
			</div>

			<div class="col-12 col-md-6">
				<p class="text-center text-md-left">I work with a lot of different languages and tools. Here are some of my recently used ones:</p>
				<div class="align-center">
					<ul class="columns-2">
						<li>HTML & CSS</li>
						<li>Javascript</li>
						<li>Vue</li>
						<li>Go</li>
						<li>PHP</li>
						<li>SQL</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section id="experience">
		<h3 class="title">Experience</h3>
		<div class="experience-item">
			<h4 class="text-center text-md-left">Developer <span class="text-blue">@ Rover Rescue</span></h4>
			<p class="text-center text-md-left"><small>May 2015 - Present</small></p>
			<ul>
				<li>Design, develop and maintain a website for a non-profit dog rescue group</li>
				<li>Participate in monthly board meetings when necessary to review recent changes and discuss future development needs</li>
				<li>Set up, configured and maintained a Linux server for hosting the website</li>
			</ul>
		</div>

		<div class="experience-item">
			<h4 class="text-center text-md-left">Freelance Developer <span class="text-blue">@ St. Charles River Corridor Foundation</span></h4>
			<p class="text-center text-md-left"><small>February 2018 - Present</small></p>
			<ul>
				<li>Led the creation of the foundation's WordPress website that aimed to create an organization directory for non-profits</li>
				<li>Designed pages for the organization directory and organization pages</li>
				<li>Attend in-person and Google Hangout meetings to discuss recent changes to the website and answer questions from board members</li>
				<li>Train administrators on the process of adding and updating organizations through WordPress</li>
			</ul>
		</div>

		<div class="experience-item">
			<h4 class="text-center text-md-left">Web Application Developer <span class="text-blue">@ Northern Illinois University</span></h4>
			<p class="text-center text-md-left"><small>March 2017 - May 2018</small></p>
			<ul>
				<li>Develop new applications and update older applications to be more performant for resident hall management</li>
				<li>Implement single sign-on to the primary web application that allows employees to log in with their Microsoft accounts</li>
				<li>Lead development for 3D Rooms, which adds interactive 3D models of the various dorm rooms on campus to allow new and transfer students to view their soon to be dorm rooms</li>
				<li>Migrate user creation application from LDAP to Azure Active Directory</li>
			</ul>
		</div>

		<div class="experience-item">
			<h4 class="text-center text-md-left">Web Developer Intern <span class="text-blue">@ Weblinx</span></h4>
			<p class="text-center text-md-left"><small>January 2016 – August 2016</small></p>
			<ul>
				<li>Worked with the design and development teams on updating, maintaining and creating new WordPress websites</li>
				<li>Developed WordPress websites based off of Photoshop mockups</li>
				<li>Worked on websites for Villa Park Public Library, Oswegoland Park District, River Trails Park District, and more</li>
			</ul>
		</div>
	</section>

	<section id="projects">
		<h3 class="title">Projects</h3>
		<div class="project">
			<div class="row align-items-center">
				<div class="col-12 col-lg-6 mb-3 mb-lg-0">
					<img src="assets/img/roverThemeInfo.png">
				</div>

				<div class="col">
					<h3>Rover Theme <a href="https://www.roverrescue.org" class="ml-1"><i class="fas fa-link"></i></a></h3>
					<p>Custom WordPress theme made for Rover Rescue and released into the wild for others to use. Integrates with Petfinder or Adopt-A-Pet which allows for shelters to easily pull in dogs from these websites and display them on their own. Fully customizable and responsive and integrates with a few plugins.</p>
					<h4>Built with:</h4>
					<p>WordPress&emsp;PHP&emsp;Javascript&emsp;SCSS&emsp;Bootstrap</p>
				</div>
			</div>
		</div>

		<div class="project">
			<div class="row align-items-center">
				<div class="col order-2 order-lg-1">
					<h3>Money Clip <a href="https://www.roverrescue.org" class="ml-1"><i class="fas fa-link"></i></a> <a href="https://github.com/Erigitic/money-clip" class="ml-1"><i class="fab fa-github"></i></a></h3>
					<p>Android app for securly tracking expenses, budgets, and savings goals. Information is stored on device so only the user has access to their data.</p>
					<h4>Built with:</h4>
					<p>Flutter</p>
				</div>

				<div class="col-12 col-lg-6 mb-3 mb-lg-0 order-1 order-lg-2">
					<img src="assets/img/moneyclip.png">
				</div>
			</div>
		</div>

		<div class="project">
			<div class="row align-items-center">
				<div class="col-12 col-lg-6 mb-3 mb-lg-0">
					<img src="assets/img/TotalEconomyFeature.png">
				</div>

				<div class="col">
					<h3>Total Economy <a href="https://ore.spongepowered.org/Erigitic/Total-Economy" class="ml-1"><i class="fas fa-link"></i></a> <a href="https://github.com/Erigitic/TotalEconomy" class="ml-1"><i class="fab fa-github"></i></a></h3>
					<p>Server plugin for Minecraft that adds a full-fledged economy. Has become one of the most popular economy plugins for Minecraft.</p>
					<h4>Built with:</h4>
					<p>Java&emsp;Gradle&emsp;Sponge&emsp;Bukkit</p>
				</div>
			</div>
		</div>

		<a href="https://github.com/Erigitic" class="d-block text-center">View more</a>
	</section>

	<section id="contact">
		<h3 class="title">Contact</h3>
		<p>I'm available for freelance work. If you are interested in working together, I'd love to hear from you.</p>

		<form action="https://formspree.io/contact@ericgrandt.com" method="POST">
			<div class="row">
				<div class="col-sm-12 col-md-6">
					<input type="text" name="full-name" placeholder="Name" required>
				</div>
				<div class="col-sm-12 col-md-6">
					<input type="email" name="email" placeholder="Email" required>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<textarea name="description" placeholder="Project Details" required></textarea>
				</div>
			</div>

			<div class="row">
				<div class="col text-center">
					<button type="submit">
						Submit
					</button>
				</div>
			</div>
		</form>
	</section>
</div>

{% include footer.html %}