#page-blog {
	& {
		background-color: $blog-background-primary;
		height: 100%;
		color: black;
	}

	.page-header {
		& {
			position: relative;
			width: 100%;
			height: 500px;
			background: url("../img/background.jpg");
			color: white;
			text-align: center;
			margin-bottom: 50px;
		}

		.content {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 0;
			left: 0;
			background: rgba(28, 35, 41, 0.85);
			height: 100%;
			width: 100%;
		}

		.title {
			font-weight: 300;
			font-size: $font-size-large;
			margin-bottom: 50px;
		}

		.recent-post {
			& {
				
				height: 100%;
				width: 100%;
			}

			.post-date {
				color: rgba(255, 255, 255, 0.75);
				font-size: $font-size-medium;
				font-weight: 400;
			}
		}
	}

	.blog-card {
		& {
			text-align: center;
		}
		
		.post-img {
			width: 100%;
			height: 150px;

			&.walkthrough {
				background: #38496F;
			}

			&.open-source {
				background: #5B95FF;
			}

			&.opinion {
				background: #F9B58E;
			}

			&.write-up {
				background: #FD7777;
			}
		}

		.card-text .text-muted {
			text-transform: capitalize;
		}
	}
}