#page-home {
	& {
		background-color: $background-primary;
		color: white;
	}

	.intro {
		& {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100vh;
			width: 100%;
			text-align: center;
		}

		.availability-button {
			& {
				outline: 0 !important;
				box-shadow: none !important;
				background-color: rgba(0, 0, 0, 0);
				border: 0.125rem solid $button-outline-color;
				border-radius: 15px;
				font-size: 0.85rem;
				margin-top: 10px;
			}

			&:hover {
				background-color: $button-hover-color;
				cursor: pointer;
			}
		}

		.learn-more {
			& {
				position: absolute;
				bottom: 5px;
				text-decoration: none;
				font-size: 0.85rem;
			}

			&:hover {
				cursor: pointer
			}

			p {
				margin-bottom: 0;
			}
		}
	}

	h3 {
		font-size: $font-size-large;
		font-weight: bold;
		color: white;
	}

	section {
		p {
			font-size: $font-size-medium;
			font-weight: 300;
			margin-bottom: 0;
		}
	
		ul {
			& {
				margin-top: 10px;
				font-weight: 300;
				font-size: $font-size-medium;
			}

			&.columns-2 {
				columns: 2;
				column-count: 2;	
			}
		}
	
		li {
			list-style-image: url("../../assets/img/bullet.png");
			margin-bottom: 8px;
		}

		h3.title {
			& {
				position: relative;
				z-index: 1;
				overflow: hidden;
				text-align: center;
				margin: 50px 0;
			}

			&:before, &:after {
				position: absolute;
				top: 51%;
				overflow: hidden;
				width: 49%;
				height: 1px;
				content: '\a0';
				background-color: rgba(255, 255, 255, 0.25);
			}

			&:before {
				margin-left: -50%;
			}

			&:after {
				margin-left: 1%;
			}
		}

		&#contact {
			& {
				text-align: center;
			}

			form {
				margin: 0 auto;
				margin-top: 30px;
				max-width: 600px;
			}
			
			input, textarea {
				width: 100%;
				padding: 10px;
				margin-bottom: 20px;
			}
			
			input, textarea {
				border: none;
				border-radius: 3px;
				background-color: $form-color;
				color: white;
			}
			
			input::placeholder, textarea::placeholder {
				color: $placeholder-color;
			}
			
			input {
				height: 40px;
			}
			
			textarea {
				display: block;
				resize: none;
				height: 150px;
			}
		}
	}

	.experience-item {
		& {
			width: 100%;
		}

		small {
			color: rgba(255, 255, 255, 0.75);
			font-size: $font-size-base;
			font-weight: 300;
		}

		ul {
			margin: 10px 0 25px 0;
		}
	}

	.project {
		& {
			margin-bottom: 50px;
		}

		img {
			width: 100%;
		}

		h3 i {
			font-size: $font-size-base;
			color: rgba(255, 255, 255, 0.5);
		}

		h4 {
			margin-top: 15px;
		}
	}
}