#page-post {
	.page-header {
		& {
			position: relative;
			width: 100%;
			height: 400px;
			background-color: $post-background;
			color: white;
			text-align: center;
			margin-bottom: 20px;
		}

		.back-button {
			position: absolute;
			font-weight: 300;
			top: 20px;
			left: 20px;
		}

		.content {
			& {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 100%;
				width: 100%;
			}

			.post-date {
				color: rgba(255, 255, 255, 0.75);
				font-size: $font-size-medium;
				font-weight: 400;
			}
		}

		.tag {
			font-weight: 300;
			font-size: $font-size-medium;
			text-transform: capitalize;
			margin-bottom: 20px;
		}
	}

	article {
		a {
			text-decoration: underline;
		}

		p {
			font-size: $font-size-medium;
			line-height: 1.6;
		}

		img {
			display: block;
			margin: 20px auto;
			width: auto;

			&.border {
				border: 1px solid rgba(0, 0, 0, 0.1);
			}
		}

		h2 {
			margin-top: 40px;
		}

		h3 {
			margin-top: 30px;
		}

		h5 {
			font-weight: bold;
			margin-top: 1rem;
		}

		table.simple-table {
			& {
				margin: 1rem 0;
			}

			th, td {
				padding: 0 1rem;
				text-align: center;
			}
		}

		button {
			width: auto;
		}

		.spoiler {
			& {
				display: inline-block;
				filter: blur(5px);
				transition: -webkit-filter 0.15s 0.15s;
			}

			&.active {
				filter: blur(0);
			}

			&:hover {
				filter: blur(0);
			}
		}
	}

	section.support {
		& {
			text-align: center;
			padding: 50px 0;
			background-color: $post-background;
			color: white;
		}

		.items img {
			& {
				height: 36px;
				border-radius: 3px;
				margin-top: 20px
			}

			&:first-of-type {
				margin-right: 20px;
			}

			&:last-of-type {
				margin-left: 20px;
			}
		}
	}
}