$background-primary: #222831;
$background-secondary: #181E27;
$background-code: #191d24;

$font-primary: #F8C822;
$font-primary-muted: #f8c92079;
$font-accent: #F88DAD;
$font-secondary: #FFFFFF;

$border-primary: #F8C822;
$border-category-all: #474747;
$border-category-security: #fc4850;
$border-category-tutorial: #4881fc;
$border-category-opinion: #48fced;
$border-category-write-up: #fcb448;
$border-category-opensource: #fc48a2;