$background-primary: #2B2B3A;

$text-yellow: #EAFC40;
$text-blue: #1ED2F4;

$button-outline-color: #DA044B;
$button-hover-color: #DA044B;

$form-color: rgba(255, 255, 255, 0.25);
$placeholder-color: rgba(255, 255, 255, 0.5);