$background-primary: #2B2B3A;
$blog-background-primary: #F4F5F6;

$text-yellow: #EAFC40;
$text-blue: #1ED2F4;

$button-outline-color: #DA044B;
$button-hover-color: #DA044B;

$post-background: #3E4958;

$form-color: rgba(255, 255, 255, 0.25);
$placeholder-color: rgba(255, 255, 255, 0.5);