$font-size-base: 18px;
$font-size-extra-small: 0.85rem;
$font-size-small: 1.33rem;
$font-size-medium: 1.5rem;
$font-size-large: 2rem;
$font-size-x-large: 2.5rem;
$font-size-xx-large: 3rem;

$font-size-post: 1.25rem;